<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
  </configSections>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
        <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
  </system.webServer>
  <resizer>
    <pipeline fakeExtensions=".ashx" />

    <!-- minutes specifies how far in the future to set the Expires: header. The Expires header
         tells the browser to not even *check* for a newer version until the Expires header expires.
         Defaults to 0 - header not sent. 1440 is 24 hours, a good value.
         See http://www.imageresizing.net/plugins/clientcache for details.-->
    <clientcache minutes="0|1440" />
    
    <plugins>
      <add name="AzureReader2" prefix="~/" connectionString="UseDevelopmentStorage=true" endpoint="http://127.0.0.1:10000/devstoreaccount1/" />
      <add name="MvcRoutingShim" />
      <add name="DiskCache"/>
    </plugins>

    <!-- The DefaultSettings plugin allows you to specify the default settings to use when certain
         settings are omitted. Currently supports ScaleMode defaults.
         See http://www.imageresizing.net/plugins/defaultsettings for details. -->
    <defaultsettings explicitSizeScaleMode="DownscaleOnly" maxSizeScaleMode="DownscaleOnly" />
    
    <!-- See http://www.imageresizing.net/plugins/diskcache for details. Avoid changing these settings -->
    <diskCache dir="~/imagecache" autoClean="false" hashModifiedDate="true" enabled="true"
               subfolders="32" cacheAccessTimeout="15000" />
    <cleanupStrategy startupDelay="00:05"
                 minDelay="00:00:20"
                 maxDelay="00:05"
                 optimalWorkSegmentLength="00:00:04"
                 targetItemsPerFolder="400"
                 maximumItemsPerFolder="1000"
                 avoidRemovalIfCreatedWithin="24:00"
                 avoidRemovalIfUsedWithin="4.00:00"
                 prohibitRemovalIfUsedWithin="00:05"
                 prohibitRemovalIfCreatedWithin="00:10" />
    <cleanupStrategy/>
  </resizer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>